@page
@model AmazonProject.Pages.BuyCompletedModel
@{
}
<!--This page is where the user is sent to upon placing an order-->

<div class="text-center">
    <h2>Thanks! Your order has been placed!</h2>
    <a class="btn btn-primary btn-lg btn-block" asp-controller="Home">Return Home</a>
</div>