@model BooksViewModel

<h1>Amazon 2.0</h1>

<!--Displaying the info of each book in the db using the BooksViewModel we created that gives info
    about each booka nd the page information-->
@foreach (Books b in Model.Books)
{
    <partial name="BookSummary" model="b"/>
}

<!--Creating hrefs to other page dynamically as needed depending on how many books are in the db-->
<div page-num="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

