<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mission_09 Assignment</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<!--Most of this is just from the textbook according to the bootstrap styling desired-->
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Building Bezos</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            Ben Hirschi's iteration of Amazon
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>